# COMPONENTS, MANAGERS, SYSTEMS and FACTORIES are predefined headings.
# Subsequent lines lists built-in types corresponding to the heading.
COMPONENTS
com.badlogic.ashley.core.Component

# The blank line above isn't strictly necessary, fyi.

SYSTEMS
com.badlogic.ashley.core.EntitySystem
com.badlogic.ashley.systems.IntervalIteratingSystem
com.badlogic.ashley.systems.IntervalSystem
com.badlogic.ashley.systems.IteratingSystem
com.badlogic.ashley.systems.SortedIteratingSystem

MAPPER
com.badlogic.ashley.core.ComponentMapper
