# COMPONENTS, MANAGERS, SYSTEMS and FACTORIES are predefined headings.
# Subsequent lines lists built-in types corresponding to the heading.
COMPONENTS
com.artemis.Component
com.artemis.PooledComponent
com.artemis.PackedComponent

# The blank line above isn't strictly necessary, fyi.
MANAGERS
com.artemis.Manager
com.artemis.managers.TagManager
com.artemis.managers.GroupManager
com.artemis.managers.PlayerManager
com.artemis.managers.TeamManager
com.artemis.managers.UuidEntityManager

SYSTEMS
com.artemis.EntitySystem
com.artemis.systems.EntityProcessingSystem
com.artemis.systems.IntervalEntitySystem
com.artemis.systems.IntervalEntityProcessingSystem
com.artemis.systems.VoidEntitySystem

FACTORIES
com.artemis.EntityFactory

MAPPER
com.artemis.ComponentMapper